<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>  
</head>

<body>
  <header id="banner">
      <%- include('../../layout/header') %>  
  </header>
  <h1>Hola!</h1>
</body>