<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
</head>

<body>
    <h1>Results</h1>
    <p><a href="/">Home</a></p>
    <ul>
        <% searchResults.forEach(book => { %>
        <li><img src="<%= book.image %>" alt=""> <%= book.title %> </li>
        <% }) %>

    </ul>
</body>

</html>