<!DOCTYPE html>
<html>
    <head>
        <title>Error has occured</title>
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/base.css">
        <link rel="stylesheet" href="styles/layout.css">
    </head>
    <body>
        <h1>An error has occured sorry sucks to suck</h1>
        <p><a href="/">Home</a></p>

    </body>
</html>
