@media(max-width: 480px){

    .navul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .enterbook {
        grid-column: 1/3;
        grid-row-start: 1;

    }
    #titlebutton, #authorbutton, #genrebutton {
        grid-row-start: 2;
    }

    #submitbutton {
        grid-row-start: 3;
    }

    


}

@media(min-width:500px) and (max-width:775px) {
        
    .navul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .enterbook {
        grid-column: 1/3;
        grid-row-start: 1;
    }


}

@media(min-width:776px) {
        
    .navul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .enterbook {
        grid-column: 1/3;
        grid-row-start: 1;
    }

}
