
@media(min-width: 480px){
    
    h4{
        line-height: 100px;
        font-size: 150%;
        margin-left: 30%;
    }

    #newsearch{
        /* border: 1px solid black; */
        margin: 0 auto;
        max-width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px 10px;
    }

    .enterbook{
        grid-column: 1/4;
        grid-row-start: 1;
    }

    #titlebutton{
        grid-column: 1/2;
        grid-row-start: 2;
        background-color: bisque;
    }

    #authorbutton{
        grid-column: 2/3;
        grid-row-start: 2;
        background-color: bisque;
    }

    #genrebutton{
        grid-column: 3/4;
        grid-row-start: 2;
        background-color: bisque;
    }

    #submitbutton{
        grid-column: 1/4;
        grid-row-start: 3;
    }

/* grid for the form.ejs */
    .view-title{
        line-height: 100px;
        font-size: 250%;
        margin-left: 40%;
        
    }

   

    .savebook{
        margin: 0 auto;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 10% 1fr 10%  10%  1fr;
        grid-gap: 5% ;
        
    }

    #hide{
        display: none;
    }
     
  

    #title{
        grid-column: 1;
        grid-row: 1;
        /* background-color: bisque; */
    }

    #author{
        grid-column: 1;
        grid-row: 2;
        background-color: bisque;
    }
    
    #description{
        grid-column: 1;
        grid-row: 3;
        background-color: bisque;
    }

    #isbn{
        grid-column: 1;
        grid-row: 4;
        background-color: bisque;
    }

    #bookself{
        grid-column: 1;
        grid-row: 5;
        background-color: bisque;
    }

    #subbutton{
        grid-column: 1;
        grid-row: 6;
        background-color: bisque;
    }
}